.header {
    position: relative;
    min-height: 60px;
}

.site-nav__list {
    display: flex;
    align-items: center;
    
}

.site-nav__item+.site-nav__item {
        margin-left: 50px;
    
}

.site-nav__link {
    display: block;
    position: relative;
    color: var(--title-text-color);
    @include font(18, 500, 1.14, 0.02em);
    padding-top: 30px;
    padding-bottom: 30px;
    &::after {
            position: absolute;
            transform: rotateZ(90deg);
                right: -40px;
                bottom: 44px;
                content: "";
                width: 25px;
                height: 1px;
            background-color: #000000;
        }
}

.site-nav__link--current {
    color: var(--accent-color);
}